<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604322379690-4j82u2p7dhgrn29fhsthn32hjo0oscb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604322379690-4j82u2p7dhgrn29fhsthn32hjo0oscb2</string>
	<key>API_KEY</key>
	<string>AIzaSyCwpnBFfz3PGTuZg-nEnHXy_KvlLoEOKpA</string>
	<key>GCM_SENDER_ID</key>
	<string>604322379690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mark-Jordan.CityIQ</string>
	<key>PROJECT_ID</key>
	<string>cityiq-6676a</string>
	<key>STORAGE_BUCKET</key>
	<string>cityiq-6676a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604322379690:ios:9411293acb39719ae79dd3</string>
</dict>
</plist>